body {
  font-family: sans-serif;
}

.gallery-img {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 200px; /* Or your desired fixed height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.gallery-img:hover {
  transform: scale(1.05);
}

#modalImage {
  max-height: 80vh;
  /* Adjust max-width to leave space for side buttons */
  /* It will be the smaller of 80vw or (100% of modal-body width - 120px for buttons) */
  max-width: min(80vw, calc(100% - 120px));
  display: block; /* Ensures margin auto works for centering */
  margin-left: auto; /* Centers the image horizontally */
  margin-right: auto; /* Centers the image horizontally */
  object-fit: contain; /* Ensures the image scales nicely within the bounds */
}

.modal-body {
  position: relative; /* For positioning buttons */
}

#prevButton,
#nextButton {
  color: white;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.5);
}

#prevButton:hover,
#nextButton:hover {
  background-color: rgba(0,0,0,0.5);
}
